/* Simulation style */
.container .box {
  background: #949494;
  margin-left: auto;
  width: 675px;
  height: 300px;
  color: white;
  overflow-y: auto;
}

#sim {
  display: flex;
  flex-direction: row;
  gap: 20px; 
}

#simInteraction {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#status {
  display: flex;
  gap: 10px;
}

#progressBars {
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  background-color: #d9d9d9;
  width: 420px;  
}

#progressBars .p {
  color:#252525 
}

#catimg {
/*   margin-left: 20px;
  margin-top: 50px; */
  width:300px;
  height:300px;
}
/* That's fair */ 
#playButton,#feedButton,#cleanButton {
  border: 3px solid rgba(54, 54, 54);
  border-radius: 20px;
  box-sizing: border-box;
  touch-action: manipulation;
  will-change: transform;
}
/* End Simulation style */

/* Breed style */
.section {
  padding: 1rem 1.5rem;
}

html, body {
  height: 100%;
  width: 100%;
}  

.checked {
  color: rgba(32, 156, 238, 1);
}

#breed_selector {
  width: 80%;
  border: 3px solid rgba(32, 156, 238, 1);
  border-radius: 10px;
}

#breed_image, #breed_imageModal, .swiper-slide {
  width:300px;
  height:300px;
}

.media {
  display: flex;
}

h1 {
  font-weight: 100;
  color: white;
  font-size: 3rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.columns {
  padding: 20px;
  display: flex;
}

#breed_info, #breed_stars,.modal-content {
  border: 3px solid rgba(32, 156, 238, 1);
  margin: 25px 75px 75px;
  border-radius: 20px;
}

.column.ml-1.mt-1 {
  border-radius: 20px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

/* #playButton,#feedButton,#cleanButton, */
#learn_more, #addbreed {
  appearance: none;
  background-color: transparent;
  border: 3px solid rgba(32, 156, 238, 1);
  border-radius: 20px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

#learn_more:disabled,#playButton:disabled,#feedButton:disabled,#cleanButton:disabled,#addbreed:disabled {
  pointer-events: none;
}

#learn_more:hover,#playButton:hover,#feedButton:hover,#cleanButton:hover,#addbreed:hover {
  color: #fff;
  background-color: rgba(32, 156, 238, 1);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#learn_more:active,#playButton:active,#feedButton:active,#cleanButton:active,#addbreed:active {
  box-shadow: none;
  transform: translateY(0);
}
/* End Breed style */

/* Snack Bar */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: rgba(32, 156, 238, 1); /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/* End Snack Bar */

.homeCard {
  height: 635px;
}

.petCard {
  height:630px;
}

.hidden {
  display:none;
}
